@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Roboto:wght@300;400&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  background-color: #1D0303;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 29px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Petit Formal Script", cursive;
  font-size: 54px;
  font-weight: 400;
  padding-top: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

button {
  width: 200px;
  font-family: "Petit Formal Script", cursive;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  text-transform: lowercase;
  background-color: #1D0303;
  color: #FFFFFF;
  border: none;
  padding: 8px 17px;
}

header {
  width: 100%;
  height: 100vh;
  background-color: #815600;
}

.navTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  padding: 10px 0;
}
.navTop li a {
  display: inline-block;
  padding: 10px 35px 10px 0;
  font-size: 0.9rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .h1Container {
  width: 50%;
  margin-right: 10px;
}
.header .h1Container h1 {
  font-family: "Petit Formal Script", cursive;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 94.3px;
  text-align: right;
}
.header .imgHeader {
  width: 50%;
  position: relative;
  top: -40px;
  right: -30px;
}
.header .imgHeader img {
  width: 100%;
}

.headerContainer {
  position: relative;
}
.headerContainer .social {
  position: absolute;
  right: -75px;
  bottom: 65px;
  font-size: 1.2rem;
}
.headerContainer .social li {
  padding-top: 7px;
  text-align: center;
}

.handCrafted {
  background-color: #500801;
  padding: 70px 0;
}
.handCrafted .handCraftedFlex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}
.handCrafted .handCraftedFlex .imgContainer {
  width: 30%;
  margin-right: 35px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 450px;
          flex: 1 0 450px;
}
.handCrafted .handCraftedFlex .imgContainer img {
  width: 100%;
}
.handCrafted .handCraftedFlex .textContainer {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 700px;
          flex: 1 1 700px;
}
.handCrafted .handCraftedFlex .textContainer h2 {
  padding-top: 10px;
}
.handCrafted .handCraftedFlex .textContainer p {
  margin: 40px 0;
}

.latestCollection {
  background-color: #815600;
  padding: 70px 0;
}
.latestCollection h2 {
  text-align: center;
  padding-bottom: 40px;
}
.latestCollection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.latestCollection ul li {
  width: 31%;
  padding: 40px 0px 0;
}

.info {
  background-color: #500801;
  padding: 70px 0;
}
.info .infoFlex {
  width: 78%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.info .infoFlex li {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.info .infoFlex li a {
  font-size: 3rem;
  padding: 10px;
}
.info .infoFlex li p {
  font-family: "Petit Formal Script", cursive;
  font-size: 1.5rem;
  text-transform: lowercase;
}

.fallTrends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fallTrends .bgSection1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fallTrends .bgSection1 .fallTrendsLeft {
  width: 50%;
  height: 70vh;
  background-color: #815600;
  padding: 100px 0;
}
.fallTrends .bgSection1 .fallTrendsRight {
  width: 50%;
  height: 70vh;
  background-image: url(../../assets/right-photo.jpg);
  background-size: cover;
  background-position: center;
}
.fallTrends .wrapper {
  position: relative;
}
.fallTrends .wrapper .fallTrendsText {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 70px;
}
.fallTrends .wrapper .fallTrendsText p {
  margin: 40px 0;
}

.veganLeather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.veganLeather .bgSection2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.veganLeather .bgSection2 .veganLeatherLeft {
  width: 50%;
  height: 70vh;
  background-image: url(../../assets/left-photo.jpg);
  background-size: cover;
  background-position: center;
}
.veganLeather .bgSection2 .veganLeatherRight {
  width: 50%;
  height: 70vh;
  background-color: #815600;
  padding: 100px 0;
}
.veganLeather .wrapper {
  position: relative;
}
.veganLeather .wrapper .veganLeatherText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 70px;
  right: 0;
}
.veganLeather .wrapper .veganLeatherText p {
  margin: 40px 0;
}

.stayUpdated {
  background-color: #500801;
  padding: 50px 0;
}
.stayUpdated .footerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 10px;
}
.stayUpdated .footerInfo .navBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 15%;
  font-family: "Roboto", sans-serif;
  line-height: 29px;
  font-weight: 400;
  text-transform: lowercase;
}
.stayUpdated .footerInfo .navBottom ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.stayUpdated .footerInfo form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.stayUpdated .footerInfo form h2 {
  text-align: center;
  padding-bottom: 50px;
}
.stayUpdated .footerInfo form label {
  text-align: center;
  padding-bottom: 10px;
}
.stayUpdated .footerInfo form .inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.stayUpdated .footerInfo form .inline input {
  width: 100%;
}
.stayUpdated .footerInfo .contact {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.stayUpdated .footerInfo .contact h2 {
  text-align: right;
  font-style: "Petit Formal Script", cursive;
  font-size: 45px;
  margin-bottom: 10px;
}
.stayUpdated .footerInfo .contact ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.stayUpdated .footerInfo .contact ul li {
  padding-top: 5px;
  font-size: 0.9rem;
}

footer {
  background-color: #1D0303;
}
footer p {
  text-align: center;
  padding: 8px 0 15px;
}

@media (max-width: 1300px) {
  .header .h1Container h1 {
    font-size: 4.2rem;
  }
  .handCrafted .handCraftedFlex .imgContainer {
    width: 25%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 450px;
            flex: 1 0 450px;
  }
  .handCrafted .handCraftedFlex .textContainer {
    width: 75%;
  }
}
@media (max-width: 1200px) {
  .header .h1Container h1 {
    font-size: 3.7rem;
  }
  .headerContainer .imgHeader {
    min-width: 500px;
  }
}
@media (max-width: 1080px) {
  .wrapper {
    width: 90%;
  }
  h2 {
    font-size: 2.2rem;
  }
  button {
    width: 180px;
  }
  .header .h1Container h1 {
    font-size: 3rem;
  }
  .headerContainer .social {
    right: -65px;
  }
  .headerContainer .imgHeader {
    min-width: 420px;
  }
  .handCrafted .handCraftedFlex .imgContainer {
    width: 25%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 350px;
            flex: 1 0 350px;
  }
  .handCrafted .handCraftedFlex .imgContainer img {
    width: 100%;
  }
  .handCrafted .handCraftedFlex .textContainer {
    width: 75%;
  }
  .handCrafted .handCraftedFlex .textContainer h2 {
    padding-top: 10px;
  }
  .handCrafted .handCraftedFlex .textContainer p {
    margin: 20px 0;
  }
  .stayUpdated .footerInfo .contact ul li {
    font-size: 0.8rem;
  }
}
@media (max-width: 900px) {
  .wrapper {
    width: 95%;
  }
  .header .h1Container {
    min-width: 250px;
  }
  .header .h1Container h1 {
    font-size: 2.7rem;
  }
  .headerContainer .social {
    right: -55px;
  }
  .headerContainer .imgHeader {
    min-width: 380px;
  }
  .handCraftedFlex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stayUpdated .footerInfo .contact ul li {
    font-size: 0.76rem;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 95%;
    margin: 0 auto;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header .h1Container {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 100%;
  }
  .header .h1Container span {
    display: block;
  }
  .header .imgHeader {
    width: 60%;
    min-width: 450px;
    position: unset;
  }
  .headerContainer .social {
    display: none;
  }
  .handCrafted .handCraftedFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .handCrafted .handCraftedFlex .imgContainer {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0 auto;
  }
  .handCrafted .handCraftedFlex .imgContainer img {
    width: 100%;
  }
  .handCrafted .handCraftedFlex .textContainer {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .handCrafted .handCraftedFlex .textContainer h2 {
    text-align: center;
    padding: 50px 0;
  }
  .latestCollection ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .latestCollection ul li {
    width: 49%;
  }
  .latestCollection ul li:nth-child(2) {
    display: none;
  }
  .infoFlex {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
  }
  .infoFlex li {
    padding: 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fallTrends .bgSection1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .fallTrends .bgSection1 .fallTrendsRight {
    width: 100%;
  }
  .fallTrends .bgSection1 .fallTrendsLeft {
    width: 100%;
  }
  .fallTrends .wrapper .fallTrendsText {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .veganLeather .bgSection2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .veganLeather .bgSection2 .veganLeatherLeft {
    width: 100%;
  }
  .veganLeather .bgSection2 .veganLeatherRight {
    width: 100%;
  }
  .veganLeather .wrapper .veganLeatherText {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .veganLeather .wrapper .veganLeatherText p {
    margin: 40px 0;
  }
  .stayUpdated .footerInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stayUpdated .footerInfo .navBottom {
    width: 100%;
  }
  .stayUpdated .footerInfo .navBottom ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .stayUpdated .footerInfo .navBottom ul li a {
    text-transform: capitalize;
  }
  .stayUpdated .footerInfo form {
    width: 90%;
    margin: 0 auto;
  }
  .stayUpdated .footerInfo form h2 {
    padding: 40px 0 20px;
    font-size: 2rem;
  }
  .stayUpdated .footerInfo form .inline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stayUpdated .footerInfo form .inline input {
    height: 50px;
    margin: 10px 0 20px;
  }
  .stayUpdated .footerInfo .contact {
    width: 100%;
  }
  .stayUpdated .footerInfo .contact h2 {
    font-size: 2rem;
    text-align: center;
    padding: 50px 0 20px;
  }
  .stayUpdated .footerInfo .contact ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 600px) {
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 0.9rem;
  }
  .header .imgHeader {
    width: 70%;
    top: 0px;
    left: 0px;
  }
  footer p {
    font-size: 0.9rem;
  }
}
@media (max-width: 490px) {
  h2 {
    font-size: 1.7rem;
  }
  p {
    font-size: 0.8rem;
  }
  button {
    font-size: 1rem;
  }
  .header .h1Container h1 {
    font-size: 2.3rem;
  }
  .header .imgHeader {
    width: 100%;
    min-width: 320px;
  }
  footer p {
    font-size: 0.7rem;
  }
}